# Файлы зависимостей и окружения
node_modules/
.env
.env.*
!.env.example

# Лог-файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Кэш и артефакты сборки Quasar
dist/
.quasar/

# Файлы IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы OS
.DS_Store
Thumbs.db
